#footerpart{
    height: 400px;
}
.top-pg-black-box{
    background-color: black;
    color: white;
    text-align: center;
   padding: 0.2px 0px 0.2px 2px;
}
.img-slider{
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/Valentino_2592x.jpg?v=1630420054");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.img-slider-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.img-slider-text>h1{
    font-size: 57px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.img-slider-text>p{
    font-size: 24px;
}
.img-slider-text>button{
    width: 40%;
    height: 55px;
    font-size: large;
    font-weight: 600;
}
.promo-div{
    display: flex;
  gap: 14px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
    
}
.promo-inner-div1{
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/asapimage---533-x-644-px_540x.jpg?v=1650550832");
    height: 500px;
    width: 33%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.promo-inner-div2{
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/WEB_ASSET_2_540x.jpg?v=1650894933");
    height: 500px;
    width: 33%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.promo-inner-div3{
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/womens_tops_2_540x.jpg?v=1630508297");
    height: 500px;
    width: 33%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.promo-inner-div-text{
    text-align: center;
    
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.promo-inner-div-text>h2{
    letter-spacing: 0.2em;
}
.promo-inner-div-text>button{
      width: 100%;
    height: 45px;
    font-size: large;
    font-weight: 600;
}
#shopbycategory{
    text-align: center;
    font-size: x-large;
}
#displarProductShopByCatg{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 8px;
    text-align: center;
}
#NewArrival-heading{
    text-align: center;
    font-size: x-large;
}
#NewArrival{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 8px;
    text-align: center;
}

#checkout-btn{
  width: 80%;
  background-color: black;
  color: white;
  padding: 4px;
}
.img-slider2{
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/gucci_1728x.jpg?v=1630503443");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.img-slider-text2{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.img-slider-text2>h1{
    font-size: 57px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.img-slider-text2>p{
    font-size: 24px;
}
.img-slider-text2>button{
    width: 40%;
    height: 55px;
    font-size: large;
    font-weight: 600;
}